# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# MLflow
mlruns/

# Large raw data (not needed for the app to run)
online_retail_II.xlsx

# Environment variables
.env
